# Avoid committing big data to repo
old-data/*
data/*
EvalSet/sentences/*
DGIdb/results/*

# Scratch work
Huggingface/scratch/*
FDA/scratch/*
Pubmed/scratch/*
EvalSet/scratch/*
DGIdb/scratch/*

# Other people's work/papers
Research/TFM_ALVARO_ALONSO_CASERO.pdf